title": {{ story_name }}
{% if story_args is not empty %}
argTypes:
  {% for arg in story_args %}
  {{ arg.name }}:
    {% if arg.title %}
    name: {{ arg.title }}
    {% endif %}
    {% if arg.required %}
    type:
      name: {{ arg.type }}
      required: true
    {% else %}
    type: {{ arg.type }}
    {% endif %}
    {% if arg.description %}
    description: {{ arg.description }}
    {% endif %}
    table:
      category: {{ arg.category }}
      type:
        summary: {% if arg.options %}{{ arg.options | join(' | ')}}{% else %}{{ arg.type }}{% endif %}
{# Do not remove this line, it is needed to create a line break #}

      {% if arg.default %}
      defaultValue:
        summary: {{ arg.default }}
      {% endif %}
    {% if arg.options %}
    options:
      {% for option in arg.options %}
      - {{ option }}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
